.main{
    width: 30vw;
    min-width: 250px; 
    max-width: 300px;
    margin: 10px;
    padding-bottom: 15px;
    border: 1px solid black ;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease;

}
.main:hover{
    transform: translateY(-5px);
}

img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p , .main h3 {
    padding-left: 10px;
    margin: 0px;
    display: block;
} 
.category{
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin: 8px 15px;
}


#btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn p
{
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
   
}

#btn button{
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: bold;
    color: red;
    border: 1px solid red;
    background:none;
    transition: all 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

#btn button:hover{
    background-color:#e14e4a;
    color: white;
}
button:active{
    transform: scale(0.95);
}